<!DOCTYPE html>
<html lang="br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIKE SHOP</title>
    <link href="/stylesheets/acessorios.css" rel="stylesheet">
    <script src="/javascripts/logicaCarrinho.js" defer></script>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <section class="conteiner1">
            <% for (let acessorios of listarAcessorios) { %>
                <div>
                    <img src=<%=acessorios.img %> alt="" width="500px">
                    <p>
                        <%= acessorios.nome %> R$<%= acessorios.preco %>
                    </p>
                    <button id="idButton" onclick="add('<%= JSON.stringify(acessorios)%>')">
                        Comprar
                      </button>
                </div>
                <% } %>
        </section>
        <%- include('./partials/footer.ejs') %>
</body>

</html>