<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD
=======

>>>>>>> origin/crud-perfil
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD
    <link rel="stylesheet" href="stylesheets/css-pg-carrinho.css">
    <link rel="stylesheet" href="stylesheets/css-header.css">
    <link rel="stylesheet" href="stylesheets/css-footer.css">
    <title>carrinho</title>
</head>
<%- include("card-login-form"); %> 
<body>
    <%- include('./partials/header') %>

    <!-- <script>
        function pagar() {
            const teste = document.getElementById('bike')
            fetch('http://localhost:3000/pagamento', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({bike: teste})
            }).then(res => {
            console.log("Request complete! response:", res);
            });
        } -->
    <!-- </script> -->
    <main>
        <section>
            <ul class="lista" style="list-style-type:none;">
                <li class="bikes">Bike</li>
                    <ul>
                        <li>Bike: <%= bike.nome%></li>
                    </ul> 
                        <li class="descricao">Acompanhamento</li>
                    <ul>
                        <li>Acompanhamento: <%= bike.descricao%> </li>
                    </ul>
                <li class="preco">Preço</li>
                    <ul>
                        <li>Preço: <%= bike.preco%> </li>
                    </ul>
            </ul>
        </section>
        
        <section id="botao">
            <a href="/views/pagamento.ejs"><button class="pagamento">ir para o pagamento</button></a>
            <ul class = "alterar">
                <a href="/views/acessorios.ejs"><li class = "alterar1">Alterar pedido</li></a>
            </ul>
            
            <!-- <button class="pagamento" type="button">Ir para Pagamento</button> -->
        </section>
    </main>
    <%- include('./partials/footer.ejs') %> 

</body>
</html>


 <!-- ADD CARD LOGIN & REGISTRO -->
=======
    <title>Carrinho</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https: //fonts.googleapis.com/css2? familia= Nunito+Sans:wght@400;700 & display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/carrinho.css">
    <!-- <script src="/javascripts/carrinho.js" defer></script> -->
</head>

<body>
    <header>
        <h1><a href="/index">Meu Carrinho</a></h1>
    </header>
    <main>
        <div class="title">
            <!-- <h2>Produtos</h2> -->
            <!-- <span>Lista de produto</span> -->
        </div>
        <div class="card">
            <!-- <div class="lineInput">
                <label>Produto</label>
                <input type="text" id="produto" placeholder="Nome do produto">
            </div>
            <div class="lineInput">
                <label>Preço</label>
                <input type="text" id="preco" placeholder="Preço do produto">
            </div> -->
            <div class="content">
                <table border="1">
                    <thead>
                        <th class="center">ID</th>
                        <th class="center">Produto</th>
                        <th class="center">Valor</th>
                        <th class="center">Ações</th>
                    </thead>
                    <tbody id="tbody">
                        
                    </tbody>
                </table>
            </div>
        </div>
        <!-- <button onclick="produto.salvar()">Salvar</button>
        <button onclick="produto.cancelar()">Cancelar</button> -->
    </main>
</body>

</html>
>>>>>>> origin/crud-perfil
