<% if(bike) {%> 
    <div class="cart page">
        <ul class="list-group">
            <% bike.preco.forEach(function(preco){ %> 
            <li class="list-group-item clearfix">
                <div class="col-xs-5">
                    <strong><%= bike.nome %> </strong><br/>
                    <em><%= bikes %> </em>
                </div>
                <div class="col-xs-2 text-right">
                    <span class="badge"><%= bike.quantity %> </span>
                </div>
                <div class="col-xs-3 text-right">
                    <%= bike.preco %>  CHF
                </div>
                <div class="col-xs-2 text-right">
                    <a href="/remove/<%= data.item.id %>" class="btn btn-default"></i> Remove</a>
                </div>
            </li>
            <% }) %> 
        </ul>
    </div>
    <div class="text-right">
        <strong>Total: <%= totalPrice %>  CHF</strong>
    </div>
    <hr>
    <div class="text-right">
        <a href="#" type="button" class="btn btn-success">Checkout</a>
    </div>
   
<% } else {%> 
    <p> Your shopping cart is empty.</p>
<% } %> 