<!DOCTYPE html>
<html lang="br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>BIKE SHOP</title>
    <link href="/stylesheets/pecas.css" rel="stylesheet">
    <script src="/javascripts/logicaCarrinho.js" defer></script>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <section class="container2">
            <% for (let pecas of listarPecas) { %>
                <div>
                    <img src=<%=pecas.img %> width="500px" alt="">
                    <p>
                        <%= pecas.nome %> === R$<%= pecas.preco %>
                        <button id="idButton" class = "btn" onclick="add('<%= JSON.stringify(pecas)%>')">
                            Comprar
                          </button>
                    </p>
                    
                </div>
                <% } %>
        </section>
        <%- include('./partials/footer.ejs') %>
</body>

</html>